.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px 10px;
  list-style: none;
  margin-top: 10px;
}

.gallery-image {
  object-fit: cover;
}

.gallery-item {
  flex: 0 0 auto;
  border: 2px solid #000;
}

.gallery-item:hover img {
  transform: scale(1.03);
  transition: transform 0.3s ease-in-out;
}

.gallery-info {
  display: flex;
  flex-wrap: column;
  gap: 25px;
  padding: 0 10px;
}

.gallery-info-item {
  align-items: center;
  justify-content: center;
}

.gallery-info-item p {
  text-align: center;
}
