.form {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 8px;
}

.form input {
  border: 2px solid #808080;
  border-radius: 5px;
  width: 272px;
  height: 35px;
  outline: none;
}

.form input:hover {
  border-color: #000;
}

.form input:focus {
  border-color: #4e75ff;
}

.form button {
  color: white;
  font-weight: 700;
  border: 1px solid #000;
  border-radius: 8px;
  padding: 8px 16px;
  width: 91px;
  height: 40px;
  background: #4e75ff;
}

.form button:hover {
  background: #6c8cff;
  border: none;
}
